* {
    margin: 0px;
    padding: 0px;
}

p {
    font-family: "Alatsi", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1, h2 {
    font-family: "Alatsi", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav {
    text-align: center;
    background-color: #333;
    padding: 2vh;
}

nav li {
    list-style-type: none;
    display: inline-block;
}

nav li a {
    text-decoration: none;
    color: white;
    padding: 14px 16px;
    transition: background-color 0.3s, color 0.3s;
}

nav li a:hover {
    background-color: #ddd;
    color: #333;
}

section {
    max-width: 80vh;
    margin: 2vh auto;
    padding: 2vh;
    background: #fff;
    border-radius: 4vh;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

section:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    text-align: center;
    width: 150px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

#fotofilme {
    text-align: center;
}

#fotofilme img {
    width: 40%;
    height: auto;
    max-width: 300vh;
    margin-top: 2vh;
    transition: transform 0.3s;
}


#curiosidades ul {
    font-family: "Alatsi", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 2vh;
    font-size: 1.2em;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}


#opiniao {
    margin: 2vh auto;
    padding: 2vh;
    background: #fff;
    border-radius: 4vh;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#opiniao label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#opiniao button {
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#opiniao button:hover {
    background-color: #555;
}

footer{
    text-align: center;
    padding: 2vh;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
}